# Task 4 - codes for the given questions

## Basic Code!

In [1]:
import pandas as pd

In [2]:
dataset= pd.read_csv("matches.csv")

In [3]:
dataset.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [4]:
dataset

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,2019,Mumbai,05/05/19,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi
752,11412,2019,Chennai,07/05/19,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould
753,11413,2019,Visakhapatnam,08/05/19,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN
754,11414,2019,Visakhapatnam,10/05/19,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin
755,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

### 1. Count the total number of matches conducted in the year 2008

In [5]:
len(dataset[dataset['season'] == 2008])

58

### 2. Find the city name where maximum and minimum number of matches were conducted

In [6]:
dataset['city'].value_counts().idxmax()

'Mumbai'

In [7]:
dataset['city'].value_counts().idxmin()

'Bloemfontein'

### 3. Find the total count of matches city wise.

In [8]:
pd.value_counts(dataset['city'])

Mumbai            101
Kolkata            77
Delhi              74
Bangalore          66
Hyderabad          64
Chennai            57
Jaipur             47
Chandigarh         46
Pune               38
Durban             15
Bengaluru          14
Visakhapatnam      13
Centurion          12
Ahmedabad          12
Rajkot             10
Mohali             10
Indore              9
Dharamsala          9
Johannesburg        8
Cuttack             7
Ranchi              7
Port Elizabeth      7
Cape Town           7
Abu Dhabi           7
Sharjah             6
Raipur              6
Kochi               5
Kanpur              4
Nagpur              3
Kimberley           3
East London         3
Bloemfontein        2
Name: city, dtype: int64

### 4. Find the team which is maximum and minimum toss winner.

In [9]:
dataset['toss_winner'].value_counts().idxmax()

'Mumbai Indians'

In [10]:
dataset['toss_winner'].value_counts().idxmin()

'Rising Pune Supergiant'

### 6. Count the total number of normal and tie matches

In [11]:
len(dataset[dataset['result'] == 'normal'])

743

In [12]:
len(dataset[dataset['result'] == 'tie'])

9

### 7. Find the team names where the match result is a tie.

In [13]:
dataset1= dataset[['team1','team2','result']]

In [14]:
dataset1[dataset1['result']=='tie']

                           team1                        team2 result
33                 Gujarat Lions               Mumbai Indians    tie
125             Rajasthan Royals        Kolkata Knight Riders    tie
189              Kings XI Punjab          Chennai Super Kings    tie
387  Royal Challengers Bangalore          Sunrisers Hyderabad    tie
400             Delhi Daredevils  Royal Challengers Bangalore    tie
475             Rajasthan Royals        Kolkata Knight Riders    tie
535             Rajasthan Royals              Kings XI Punjab    tie
705        Kolkata Knight Riders               Delhi Capitals    tie
746               Mumbai Indians          Sunrisers Hyderabad    tie

### 8. Find the team name who won the match by highest runs.

In [15]:
dataset[['winner']][dataset.win_by_runs == dataset['win_by_runs'].max()]

            winner
43  Mumbai Indians

### 9. Find the team name who won the match by lowest runs.

In [16]:
dataset[['winner']][dataset.win_by_runs == dataset['win_by_runs'].min()]

                     winner
1    Rising Pune Supergiant
2     Kolkata Knight Riders
3           Kings XI Punjab
5       Sunrisers Hyderabad
6            Mumbai Indians
..                      ...
750         Kings XI Punjab
751          Mumbai Indians
752          Mumbai Indians
753          Delhi Capitals
754     Chennai Super Kings

[419 rows x 1 columns]

### 10. Find the players who was awarded "Player of the match" more than 3 times.

In [17]:
motm_awards = pd.value_counts(dataset["player_of_match"])
players_motm_more_than_three = list()
for player, awards_number in motm_awards.items():
    if awards_number > 3:
        players_motm_more_than_three.append(player)
print(players_motm_more_than_three)

['CH Gayle', 'AB de Villiers', 'RG Sharma', 'MS Dhoni', 'DA Warner', 'YK Pathan', 'SR Watson', 'SK Raina', 'G Gambhir', 'MEK Hussey', 'AM Rahane', 'V Kohli', 'V Sehwag', 'DR Smith', 'AD Russell', 'A Mishra', 'JH Kallis', 'KA Pollard', 'SE Marsh', 'AT Rayudu', 'SP Narine', 'Harbhajan Singh', 'SR Tendulkar', 'RA Jadeja', 'UT Yadav', 'Rashid Khan', 'RV Uthappa', 'AC Gilchrist', 'M Vijay', 'RR Pant', 'S Dhawan', 'SL Malinga', 'A Nehra', 'BJ Hodge', 'HH Pandya', 'SC Ganguly', 'SPD Smith', 'PA Patel', 'KC Sangakkara', 'DPMD Jayawardene', 'BB McCullum', 'JP Faulkner', 'AJ Finch', 'DW Steyn', 'Yuvraj Singh', 'SV Samson', 'GJ Maxwell', 'JJ Bumrah', 'Sandeep Sharma', 'JD Unadkat', 'JC Buttler', 'B Kumar', 'KL Rahul', 'KD Karthik', 'JP Duminy', 'MK Pandey', 'NM Coulter-Nile', 'AR Patel', 'N Rana', 'F du Plessis', 'SK Warne', 'CA Lynn', 'SS Iyer', 'ML Hayden', 'KH Pandya']

### 11. Find the player who was awarded as player of match maximum times.

In [18]:
dataset['player_of_match'].value_counts().idxmax()

'CH Gayle'

### 12. Find the venue where the team won the match by highest runs.

In [19]:
dataset[['venue']][dataset.win_by_runs == dataset['win_by_runs'].max()]

               venue
43  Feroz Shah Kotla

### 13. Find the venue where the team won the match by lowest runs.

In [20]:
dataset[['venue']][dataset.win_by_runs == dataset['win_by_runs'].min()]

                                         venue
1      Maharashtra Cricket Association Stadium
2       Saurashtra Cricket Association Stadium
3                       Holkar Cricket Stadium
5    Rajiv Gandhi International Stadium, Uppal
6                             Wankhede Stadium
..                                         ...
750                          IS Bindra Stadium
751                           Wankhede Stadium
752                  M. A. Chidambaram Stadium
753                           ACA-VDCA Stadium
754                           ACA-VDCA Stadium

[419 rows x 1 columns]

### 14. Find the umpires who did umpiring maximum times.

In [22]:
dataset['umpire1'].value_counts().idxmax()

'HDPK Dharmasena'

In [23]:
pd.value_counts(dataset['season'])

2013    76
2012    74
2011    73
2010    60
2014    60
2016    60
2018    60
2019    60
2017    59
2015    59
2008    58
2009    57
Name: season, dtype: int64

In [27]:
pd.value_counts(dataset['toss_winner'])

Mumbai Indians                 98
Kolkata Knight Riders          92
Chennai Super Kings            89
Royal Challengers Bangalore    81
Kings XI Punjab                81
Delhi Daredevils               80
Rajasthan Royals               80
Sunrisers Hyderabad            46
Deccan Chargers                43
Pune Warriors                  20
Gujarat Lions                  15
Delhi Capitals                 10
Kochi Tuskers Kerala            8
Rising Pune Supergiants         7
Rising Pune Supergiant          6
Name: toss_winner, dtype: int64

### 15. Find the